#container{
    display: flex;
    justify-content: center;
}



.tarjeta{
    background-color: aqua;
    height: 100px;
    width: 100px;
    padding: 10 px;
    margin: 100px;
    border: 1.5px solid;
  
}
.tarjeta img{
width: 100%;

}
